.login-form-container {
    width: 450px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: gray;
    z-index: 1;
}

.title-container {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container h1 {
    font-size: 55px;
    font-weight: bold;
    color: #FF7400;
}

.login-form-container label {
    width: 350px;
    font-size: 20px;
    margin-top: 5px;
    font-weight: bold;
}

.input-container {
    display: flex;
}

.login-form-container input {
    height: 50px;
    width: 290px;
    border: 0.3px solid lightgray;
    border-radius: 6px;
    padding-left: 10px;
    font-size: 20px;
    transition: 0.2s ease-in-out;
    margin-bottom: 30px;
    border-left: none;
    transition: 0.3s ease-in-out;
}

.login-form-container input:focus {
    outline: none;
    border-right: 5px solid #FF7400;
}

.input-icon {
    width: calc(50px - 30px);
    height: calc(50px - 30px);
    padding: 15px;
    border-top: 1px solid #FF7400;
    border-bottom: 1px solid #FF7400;
    border-left: 1px solid #FF7400;
    background-color: #FF7400;
    color: white;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.login-form-container button {
    width: 100%;
    height: 80px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
    background-color: #FF7400;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-icon-login {
    width: 50px !important;
    height: 50px !important;
    background-color: #FF7400 !important;
    color: white !important;
}

.login-form-container button:focus {
    outline: 2px solid rgba(255, 166, 0, 0.593);
}

.login-form-container button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.role-select {
    width: 350px;
    height: 50px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-left: 5px;
    font-size: 20px;
    border: 0.3px solid lightgray;
    border-radius: 6px;
    color: gray;
}

.role-select:focus {
    outline: none;
}

