.presentation-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(201,201,201);
    background: linear-gradient(106deg, rgba(216,216,216,1) 0%, rgb(241, 241, 241) 15%, rgb(233, 233, 233) 100%);
}

.presentation-container .background-img {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.presentation-container img {
    width: 1100px;
    margin-top: 150px;
}

.information-container {
    width: calc(100% - 200px);
    padding: 100px 100px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-double-information-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    flex-wrap: wrap;
}

.flex-double-information-container .flex-left-information {
    width: calc(50% - 50px);
    min-width: 400px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.flex-double-information-container .flex-right-information {
    width: calc(50% - 50px);
    min-width: 400px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.normal-information-container {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.flex-triple-information-container {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.flex-triple-information-container .flex-left-information {
    width: calc(33% - 66px);
    height: 400px;
    min-width: 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.flex-triple-information-container .flex-medium-information {
    width: calc(33% - 66px);
    height: 400px;
    min-width: 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.flex-triple-information-container .flex-right-information {
    width: calc(33% - 66px);
    height: 400px;
    min-width: 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.flex-left-information h1 {
    width: calc(100% - 40px);
    height: 50px;
    font-size: 40px;
    color: white;
    background-color: #FF7E06;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-left-information p {
    width: calc(100% - 80px);
    padding: 40px;
    font-size: 26px;
    color: gray;
    text-align: justify;
}

.flex-medium-information h1 {
    width: calc(100% - 40px);
    height: 50px;
    font-size: 40px;
    color: white;
    background-color: #FF7E06;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-medium-information p {
    width: calc(100% - 80px);
    padding: 40px;
    font-size: 20px;
    color: gray;
    text-align: justify;
}

.flex-right-information h1 {
    width: calc(100% - 40px);
    height: 50px;
    font-size: 25px;
    color: white;
    background-color: #FF7E06;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-right-information p {
    width: calc(100% - 80px);
    padding: 40px;
    font-size: 34px;
    color: gray;
}

.normal-information h1 {
    width: calc(100% - 40px);
    height: 50px;
    font-size: 40px;
    color: white;
    background-color: #FF7E06;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.paso-container {
    width: calc(100% - 40px); 
    border: 2px solid lightgray;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.paso-container p {
    font-size: 24px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left; 
    font-weight: bold;   
}

.paso-container button {
    margin-right: 20px;
    width: 170px;
    height: 50px;
    border: none;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FF7E06;
    color: white;
    transition: 0.3s ease-in-out;
    font-weight: bold;
    border-radius: 4px;
    min-width: 170px;
}

.paso-container button:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

.paso-icon-button {
    font-size: 30px;
    margin-right: 10px;
}

.paso-icon {
    font-weight: bold;
    color: white;
    font-size: 20px;
    border-radius: 100%;
    border: none;
    background-color: #FF7E06;
    padding: 5px;
    margin-right: 10px;
}

.perfiles-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 !important;
}

.img-perfil-container {
    width: 270px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.img-perfil-container img {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    width: 250px;
}

.img-perfil-container span {
    width: calc(100% - 30px);
    background-color: #050531;
    font-weight: bold;
    color: white;
    padding: 5px;
    font-size: 18px;
}

.img-perfil-container h3 {
    font-weight: bold;
    color: white;
    background-color: gray;
    padding: 5px;
    font-size: 30px;
    width: calc(100% - 30px);
}

.mt-100 {
    margin-top: 150px;
}

.normal-p {
    padding: 20px;
    padding-top: 0;
    font-size: 30px;
    text-align: justify;
}

.footer {
    background-color: #050531;
    margin-top: 100px;
    width: 100%;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.3px solid #FF7E06;
}

.footer img {
    width: 300px;
    margin-top: 0;
    margin-right: 50px;
}

.footer p {
    width: 900px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: justify;
}